<div class="container">
  <%= simple_form_for @post do |f| %>
    <%= f.input :title, :class => "input-field" %>

    <div class = "file-field input-field">
      <div class = "btn">
        <span>File</span>
        <%= f.file_field :avatar, :required => true  %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>

    <%= f.input :detail, :class => "input-field" %>
    
    <%= f.hidden_field :lng %>

    <%= f.hidden_field :lat %>

    <%= f.button :submit,  :id => "submitForm" %>
  <% end %>
</div>

<script>

$(document).ready(function() {
  console.log("Locked and Loaded")
  $('#submitForm').click(function (event) {
    $('#submitForm').attr('disabled', 'disabled')
    event.preventDefault(); // Prevent link from following its href
    $.ajax({
      url : 'https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyDxEUuE6E8t1bDDtLwRCnFST5juA96nCbU',
      type : 'POST',
      success: (data) => {
        console.log(data.location)
        document.getElementById("post_lng").value = data.location.lng
        document.getElementById("post_lat").value = data.location.lat
        document.getElementById("new_post").submit()
    },
      error: () => {
        alert("Something messed up")
    }
  })
  });
  M.AutoInit()
})

</script>


