<section class="section">
  <div class="section">
    <h1 class ="title"><%= @post.title %></h1>
    <%= image_tag @post.avatar %>
    <div class="detail">
      <%= @post.detail %>
    </div>
  </div>
  <div align="right">
    <%= link_to "Edit", edit_post_path(@post), class: "button" %>
  </div>
  <div align="right">
    <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete?" }, class: "button" %>
  </div>

</section>